<div class="mx-auto w-full px-8">

    <!-- Card Profile -->
    <div class="p-6 mb-8 card overflow-hidden relative">

        <!-- BANNER -->
        <div class="w-full h-64 overflow-hidden mb-8 absolute top-0 left-0">

            <a href="" class="">
                <div class="flex items-center absolute top-0 right-0 h-4 mr-5 mt-5">
                    <p class="text-white mr-2 text-sm">Editer</p>
                    <svg fill="#ffffff" height="h-3" viewBox="0 0 79 79" version="1.1"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Group</title>
                        <g id="Page-1" stroke="none" stroke-width="1" fill-rule="evenodd">
                            <g id="noun_edit_1268878" transform="translate(-11.000000, 0.000000)" fill-rule="nonzero">
                                <g id="Group" transform="translate(11.110000, 0.122640)">
                                    <path d="M76.89,8.49736013 L69.28,0.877360134 C68.1087298,-0.292453378 66.2112702,-0.292453378 65.04,0.877360134 L36.66,29.2373601 C36.3560936,29.5405513 36.1207954,29.9054339 35.97,30.3073601 L31.39,42.5073601 C30.978915,43.6080744 31.2482455,44.8474511 32.0790773,45.6782828 C32.9099091,46.5091146 34.1492857,46.7784451 35.25,46.3673601 L47.45,41.7973601 C47.8519262,41.6465647 48.2168089,41.4112665 48.52,41.1073601 L76.89,12.7373601 C78.0598135,11.5660899 78.0598135,9.66863032 76.89,8.49736013 Z M44.75,36.3973601 L39.34,38.3973601 L41.34,32.9873601 L67.15,7.22736013 L70.53,10.6073601 L44.75,36.3973601 Z"
                                          id="Shape"></path>
                                    <path d="M69.8,68.7673601 L69.8,42.8773601 C69.8,41.2205059 68.4568542,39.8773601 66.8,39.8773601 C65.1431458,39.8773601 63.8,41.2205059 63.8,42.8773601 L63.8,68.7773601 C63.8,70.4342144 62.4568542,71.7773601 60.8,71.7773601 L9,71.7773601 C7.34314575,71.7773601 6,70.4342144 6,68.7773601 L6,16.9673601 C6,15.3105059 7.34314575,13.9673601 9,13.9673601 L34.89,13.9673601 C36.5468542,13.9673601 37.89,12.6242144 37.89,10.9673601 C37.89,9.31050588 36.5468542,7.96736013 34.89,7.96736013 L9,7.96736013 C4.02943725,7.96736013 0,11.9967974 0,16.9673601 L0,68.7673601 C0,73.7379229 4.02943725,77.7673601 9,77.7673601 L60.8,77.7673601 C65.7705627,77.7673601 69.8,73.7379229 69.8,68.7673601 L69.8,68.7673601 Z"
                                          id="Path"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </a>

            <div class="flex items-center absolute bottom-0 right-0 mb-3 mr-3">
                <button class="h-8 p-4 flex items-center border border-gray-300 border-solid rounded-lg bg-white">
                    <img src="{{ asset('img/add_user_icon.svg') }}" alt="" class="h-4 mr-2">
                    <p class="mr-2">Ajouter en ami</p>
                </button>
            </div>

            <img src="{{ asset('img/jaycee-xie-TcByXvrIrno-unsplash.jpg') }}" alt="" class="w-full object-cover">
        </div>

        <!-- Content -->
        <div class="flex items-center relative mt-64">

            <div>
                <!-- AVATAR -->
                <button class="friend-avatar overflow-hidden rounded-lg">
                    <img class="object-cover h-full" src="{{ asset('img/avocat.jpg') }}" alt="" />
                </button>
            </div>

            <div class="ml-4">
                <!-- Username -->
                <div class="flex items-center">
                    <a href="" class="font-semibold text-xl">{{ user.username }}</a>
                    <span class="mx-2 text-xs">-</span>
                    <p class="text-xs text-gray-500">{{ user.city }}</p>
                </div>

                <p class="text-xs text-gray-500 mb-3">{{ user.anniversary | date("d/m/Y") }}</p>

                <div class="flex items-center mb-3">
                    <a href="" class="text-xs text-beige">Abonnements</a>
                    <span class="mx-2 text-gray-500">|</span>
                    <a href="" class="text-xs text-beige">Abonnés</a>
                </div>

                <p>{{ user.bio }}</p>

            </div>

        </div>

    </div>
    <!-- End Card Profile -->

    {% for post in posts %}
        {% include "includes/post.html.twig" %}
    {% endfor %}

</div>